* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #222222;
}
.headerimg {
  width: 100vw;
  height: 80vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.io {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link a {
  text-decoration: none;
}
.link span {
  color: #fa5b0f;
}
.link {
  width: 15%;
  height: 35px;
  border-radius: 10px;
  background-color: #222222;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.headerimg img {
  width: 100%;
  height: 100%;
  color: black;
}

.menuicon {
  width: 60px;
  height: 60px;
  position: fixed;
  border-radius: 50px;
  background-color: #494848;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  left: 30px;
}
.fa-bars {
  font-size: 24px;
  color: white;
}
.fa-xmark {
  font-size: 24px;
}
.menuitems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 10%;
}
.mainmenu {
  width: 5%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  /* justify-content:center;
    align-items: center; */
  background-color: #222222;
  border-radius: 50px;
  padding: 10px 0;
  gap: 40px;
  border-right: 1 solid #fa5b0f;
  position: fixed;
  top: -100%;
  left: -100%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  text-decoration: none;
  color: white;
  /* background-color: blue; */
}
.row1 i {
  color: #fa5b0f;
}
.rowclose {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.textcontent {
  width: 130%;
  position: absolute;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  right: -110px;
}
.row:hover {
  color: #fa5b0f;
  border-right: 2px solid #fa5b0f;
  .textcontent {
    transform: translate(5px, 0px);
  }
}
.rowlast:hover {
  border-right: none;
}

.menuitemsclick {
  top: 70px;
  left: 30px;
}
.menu {
  width: 100%;
  height: 10%;
  display: flex;
  /* background-color: white; */
  color: black;
  align-items: center;
  justify-content: center;
}
.list {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.list a {
  text-decoration: none;
  color: white;
}

.profiledetails {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* background-color: blue; */
}

.profiledetails:hover .posimg {
  transform: translate(5px, 5px);
}

.profilechild {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: aliceblue; */
}

.profileimg {
  width: 45%;
  height: 100%;
  /* background-color: rgb(13, 204, 61);   */
  display: flex;
  justify-content: center;
  align-items: center;
}

.posimg {
  width: 100%;
  height: 70%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  transition: 0.5s;
}

.imgdiv {
  width: 75%;
  height: 85%;
  display: flex;
  border: 5px solid #fa5b0f;
}
.posimgpara {
  position: absolute;
  top: 330px;
  color: white;
  font-size: 16px;
}
.socialicon {
  display: flex;
  position: absolute;
  top: 360px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.socialicon i {
  border-radius: 50px;
  display: flex;
  color: #fa5b0f;
  /* background-color:black; */
}

.iconborder {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border: 0.5px solid #fa5b0f;
}

.iconborder:hover {
  background-color: #fa5b0f;
}

.iconborder i {
  transition: transform 0.1s ease-in-out;
}

.iconborder:hover i {
  transform: rotateY(180deg);
  color: black;
  transition: 0.1s transform ease-in-out;
}

#rotatefull:hover i {
  transform: rotateY(360deg);
  color: black;
  transition: 0.1s transform ease-in-out;
}

.imgdivchild {
  width: 75%;
  height: 85%;
  object-fit: cover;
  position: absolute;
  top: 45px;
  left: 40px;
}

.tablerow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 200px;
  grid-gap: 0px;
  /* background-color: #1f1f1f; */
}

.col1row p {
  width: 50vw;
  height: 10vh;
}

.col2row p {
  width: 10vw;
  height: 10vh;
}

.col1 {
  width: 20vw;
  height: 80%;
}
.col2 {
  width: 30vw;
  height: 80%;
  /* background-color: #fa5b0f; */
}
.col1row {
  display: flex;
  /* background-color: #fa5b0f; */
  width: 18vw;
  height: 20%;
  /* gap: 10px; */
}
.col2row {
  height: 20%;
  display: flex;
  width: 30vw;
  /* background-color: #fa5b0f; */
  /* gap: 10px; */
}
.profileright {
  width: 50vw;
  height: 70vh;
  color: white;
  font-size: 20px;
  font: normal;
  /* background-color: antiquewhite; */
  margin-top: 90px;
}
.profileright h1 {
  margin-bottom: 20px;
}
.profileright span {
  color: #fa5b0f;
}

.profileright button {
  background-color: #fa5b0f;
  border: none;
  color: black;
  padding: 12px 32px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.profileright button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 170%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-120%) skewx(-45deg);
  transition: 0.4s;
}
.profileright button:hover {
  color: white;
}
.profileright button:hover::before {
  transform: translateX(-10%) skewX(-45deg);
  color: white;
}

.profileright i {
  margin-right: 8px; /* You can adjust this value as needed */
}

hr {
  width: 80%;
  border-bottom: 0.5px solid rgb(2, 2, 2);
  margin: auto;
}

.parentoffacts {
  width: 100%;
  height: 50%;
  /* background-color: aqua; */
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.childoffacts {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fa5b0f;  */
}

.childoffacts h2 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 40px;
}

.items {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f1f1f;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 24px;
}

.imgicon i {
  font-size: 30px;
}

.items:hover {
  .imgicon {
    background-color: #fa5b0f;
  }

  .imgicon i {
    transform: rotateY(180deg);
    color: black;
    transition: 0.4s transform linear;
  }
}
.imgicon i {
  transition: transform 0.4s linear;
}

.imgicon {
  border-radius: 15px;
  padding: 30px 30px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.typingparent {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  width: auto;
}
.typingparent .text {
  position: relative;
  color: #fa5b0f;
  font-size: 30px;
  font-weight: 600;
}
.typingparent .first-text {
  color: white;
}
.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-left: 2px solid blue;  */
  background-color: #222222;
  overflow: hidden;
  animation: animate 2s steps(20) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.parentitems {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: antiquewhite;  */
}
.expdetails p,
h3 {
  margin-bottom: 20px;
}
.expp {
  margin-top: 10px;
  line-height: 20px;
  width: 100%;
}
.expedu {
  width: 100%;
  height: 120vh;
  /* background-color: #fa5b0f;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.expedudetails {
  width: 80%;
  height: 90vh;
  /* background-color: red;  */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid gray;
}

.expleft {
  width: 50%;
  height: 100%;
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: white;
}
.expleftparent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.exprightparent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: yellow; */
}

.expright {
  width: 50%;
  height: 100%;
  /* background-color: rgb(26, 216, 216); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: white;
  border-left: 1px solid gray;
}
.expdetails {
  width: 90%;
  height: 40%;
  display: flex;
  /* background-color: rgb(11, 110, 197); */
  flex-direction: column;
}

.tvg__progress_list {
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  /* padding: 20px; */
}

.progress__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  position: relative;
}

.progress__title {
  color: white;
  margin-bottom: 10px;
}

.progress__bar {
  position: relative;
  width: 100%;
  height: 1px; /* Adjust height as needed */
  background-color: #333;
}

.item__progress {
  position: absolute;
  height: 100%;
  background-color: grey; /* Default color */
  width: 0; /* Start with 0 width */
  transition: width 0.5s ease;
}

.progress__percent {
  position: absolute;
  top: -50px; /* Adjust to position the indicator above the progress bar */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: black;
  color: white;
  padding: 5px;
  border: 1px solid #fa5b0f; /* Border around the indicator */
  white-space: nowrap; /* Prevent text wrapping */
  border-radius: 3px; /* Rounded corners */
  width: 50px;
  height: 30px;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease; /* Smooth transitions */
}

.progress__percent::after {
  content: "";
  position: absolute;
  bottom: -12px; /*Adjust to position the triangle correctly */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fa5b0f; /*Arrow color matches background */
}

.programparent {
  width: 100%;
  height: 80vh;
  /* background-color: aliceblue;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentprogram {
  width: 80%;
  height: 60vh;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  /* margin-top:40px; */
  gap: 20px;
}
.contentprogram h2 {
  color: white;
  justify-content: start;
  align-items: start;
  display: flex;
}
.languageparent {
  width: 100%;
  height: 80vh;
  /* background-color: aliceblue;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.languageparent h2{
  width:80vw;
  height:5%;
  color:white;
  display:flex;
  justify-content: flex-start; 
  align-items: start;
  /* background-color: antiquewhite; */
}

.contentlanguage {
  width: 80%;
  height: 60vh;
  /* background-color: aqua;  */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  /* align-items: ; */
  gap: 40px;
}
.childlanguageleft {
  width: 50%;
  height: 60vh;
  /* background-color: #fa5b0f;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.childlanguageright {
  width: 50%;
  height: 60vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.childleftinnerlang {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 50px;
  color: white;
  /* border-bottom:1px solid gray;  */
}
.childleftinnerlang1 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: end; */
  gap: 50px;
  color: white;
  /* padding-top:150px;  */
  /* border-bottom:1px solid gray;  */
}
.childleftinnerlang h4 {
  height: 60px;
  /* border-bottom: 0.5px solid gray;   */
}
.childleftinnerlang1 h4 {
  height: 60px;

  /* border-bottom: 0.5px solid gray;   */
}
.childlanguageleft h2 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: aliceblue;
}
.rounded-div {
  width: 20px;
  height: 15px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 40px;
  opacity: 0;
  /* transform: scale(0.5); */
  transition: opacity 0.5s, background-color 0.5s;

  /* transition: opacity 0.5s, transform 0.5s; */
}

.rounddiv1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #fa5b0f; */
}
.rounddiv {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: aqua; */
}

.rounded-div.visible {
  opacity: 1;
  /* transform: scale(1); */
  background-color: #fa5b0f;
}
.rounded-div.hidden {
  display: block; /* Hide non-active divs */
  background-color: grey;
  opacity: 0.5;
}
.langtitle {
  opacity: 0;
}
.rounddiv h4 {
  height: 50px;
  /* background-color: #fa5b0f; */
}
.serviceparent {
  width: 100%;
  height: 70vh;
  /* background-color: #fa5b0f;  */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.servicecard {
  width: 80%;
  height: 50vh;
  /* background-color:aqua;  */
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: flex-start;
}
.servicecard h2 {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  /* background-color: #1abb42; */
}
.servicebox {
  width: 100%;
  height: 90%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 20px;
  background-color: #292727d5;
  color: white;
  padding-left: 20px;
  gap: 25px;
}

.servicebox:hover {
  .roundedicon {
    background-color: #fa5b0f;
    color: #fa5b0f;
  }

  .roundedicon {
    transform: rotateY(180deg);
    /* transform: translate(-50%, -50%); */

    color: black;
    transition: 0.2s transform linear;
  }
  #roundedfull {
    transform: rotateY(360deg);
    /* transform: translate(-50%, -50%); */

    color: black;
    transition: 0.1s transform ease-in;
  }
}
.roundedicon {
  display: inline-block;

  transition: transform 0.1s linear;
}

.servicecardgrid {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 55px;
  /* background-color: black;  */
}
.roundedicon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1f1f1f;
}
.roundedicon i {
  font-size: 30px;
}
.clientsparents {
  width: 100%;
  height: 400px;
  /* background-color: #fa5b0f;    */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.clientscards {
  width: 80%;
  height: 100%;
  /* background-color: aqua;  */
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: center;
  align-items: center;
  /* color:gray; */
}
.clientscardbox {
  width: 100%;
  height: 100%;
  /* background-color: #0fce3f;  */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
  opacity: 0.5;
}
.clientscardbox:hover {
  opacity: 1;
}

.clientscardbox img {
  width: 40%;
  height: 40%;
}
.clientsparents h2 {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 80%;
  height: 120px;
}

.priceparent {
  width: 100%;
  height: 100vh;
  /* background-color: #3a0ffa;   */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricecards {
  width: 80%;
  height: 85%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.priceparent h2 {
  width: 80%;
  height:10%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  color: white;
   /* background-color: bisque;  */
}
.pricecardsbox {
  width: 100%;
  height: 80%;
  /* background-color: azure; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
.priceboxeach {
  width: 100%;
  height: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
  background-color: #1f1f1f;
}
.first {
  width: 80%;
  height: 30%;
  border-bottom: 1px solid gray;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}
.second {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: white;
  font-size: 16px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.text i {
  color: #fa5b0f;
}

.textdark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.first span {
  font-size: 15px;
  display: flex;
  width: 15px;
  height: 100%;
  justify-content: flex end;
  align-items: flex-end;
  /* background-color: #fa5b0f; */
}
.textdark {
  opacity: 0.5;
}
.third {
  width: 80%;
  height: 20%;
}
.third button {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa5b0f;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.third button::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 170%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-110%) skewx(-45deg);
  transition: 0.4s;
}

.third button:hover::before {
  transform: translateX(-10%) skewX(-45deg);
  color: white;
}

.footerimg {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
}
.footerimg img {
  width: 100%;
  height: 100%;
  color: black;
}

.ioend {
  width: 100%;
  height: 100%;
  /* height: 100%;   */
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsfoot {
  width: 80%;
  height: 75%;
  /* background-color: #fa5b0f;    */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* justify-content:flex-end; */
  align-items: end;
  border-bottom: 0.5px solid gray;
}
.cardsfootbox {
  width: 100%;
  height: 80%;
  /* background-color: antiquewhite;    */
  color: white;
  display: flex;
  font-size: 16px;
  flex-direction: column;
}
.cardsfootbox img {
  width: 50%;
  height: auto;
}
.cardsfootbox p {
  margin-top: 25px;
  width: 70%;
}
.cardsfootbox ul {
  list-style-type: none;
  padding: 0;
  /* line-height: 65px; */
}
.cardsfootbox ul li {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between icon and text */
}

/* .cardsfootbox ul li {
  display: flex;
} */
.cardsfootbox ul i {
  display: inline-flex;
  height: 40px;
  align-items: center;
  color: #fa5b0f;
  gap: 10px;
}

.cardsfootbox ul i .text {
  color: white;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.cate {
  width: 100%;
  /* height:100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua;  */
}
.cate a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-right: 15px;
  /* padding:5px; */
  background-color: rgb(49, 46, 46);
  gap: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.cate a:hover {
  color: #fa5b0f;
}
.cateparent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footend {
  width: 100%;
  /* height:50px;  */
  height: 10%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background-color: aqua;       */
}
.footend p {
  width: 100%;
  height: 100px;
  /* background-color: #fa5b0f;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamparent {
  width: 100%;
  height: 90vh;
  /* background-color: blueviolet;  */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.teamparent h2 {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  /* background-color: aqua;   */
}
.teamchild {
  width: 80%;
  height: 100%;
  /* background-color: red;   */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: ; */
  /* align-items: flex-end; */
}

.teamgrid {
  width: 100%;
  height: 80%;
  /* background-color: aliceblue;   */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  color: black;
  /* background-color: aqua; */
}

.grid {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* background-color: green; */
  overflow: hidden;
}
.gridimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  /* background-color: yellow; */
}
.grid:hover {
  .details {
    display: block;
  }
  .gridimg {
    height: 55%;
  }
}

.details {
  display: none;
  width: 100%;
  height: 50%;
  padding: 20px;
  background-color: #1f1f1f;
  color: white;
  /* line-height: 20px; */
  border-bottom-left-radius: 10px;
}
.contentdiv {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  gap: 25px;
}
.icon {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 25px;
  width: 100%; /* Adjust size as needed */
  height: 30%; /* Adjust size as needed */
  font-size: 20px;
  align-items: center;
  /* background-color: yellow; */
}
.icon i {
  border: 1px solid #fa5b0f;
  border-radius: 50px;
  padding: 5px;
  color: #fa5b0f;
}
.testimonialparent {
  width: 100%;
  height: 80vh;
  /* background-color: #fa5b0f;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardtestimonial {
  width: 80%;
  height: 70%;
  /* background-color: rgb(18, 236, 236); */
  display: grid;
  justify-content: space-between;
  align-items: center;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.testimonialparent h3 {
  width: 80%;
  height:5%;
  /* background-color:rgb(24, 177, 177); */
  color: white;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  color: white;
  justify-content: center;
  /* align-items: center; */
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 20px;
}
.cards p {
  /* background-color: #fa5b0f; */
  padding: 15px;
  width: 95%;
  height: 65%;
  line-height: 25px;
  border-bottom: 0.5px solid rgb(49, 48, 48);
}
.cardsphoto {
  width: 100%;
  height: 100px;
  /* background-color: #fa5b0f;  */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cardsphoto p {
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsphoto img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  padding: 20px;
}
.testleft {
  width: 90px;
  height: 100px;
  /* height:20px; */
  /* background-color: #fa5b0f; */
}
.testright p {
  width: 100%;
  height: 0px;
  /* background-color: aqua;  */
}
.testright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.namefirst {
  color: #fa5b0f;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .headerimg {
    height: 50vh;
    background-size: 100vw 50vh;
  }
  .footerimg {
    height: 50vh;
    background-size: 100vw 50vh;
  }
  /* .profiledetails {
    height: 100vh;
  }
  .profilechild {
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 90vh;
  
  }
  .profileimg {
    width: 95%;
    height: 40%;
  
  }
  hr {
    width: 90%;
  }
  .imgdivchild {
    width: 75%;
    height: 95%;
    top: -10px;
    left: 70px;
  
  }
  .imgdiv {
    width: 75%;
    height: 95%;
  }
  .posimg {
    width: 100%;
    height: 100%;
    }
  .profileright {
    width: 90%;
    height: 30%;
    margin-bottom: 0px;
  }
  .col1 {
    width: 40vw;
    height: 80%;
  }
  .col2 {
    width: 40vw;
    height: 80%;
    }
  .col1row {
    width: 100%;
  }
  .col2row {
    width: 100%;
  }
  .col2row p {
    width: 30vw;
  }

  .posimgpara {
    top: 300px;
  }
  .socialicon {
    top: 320px;
  } */
  /* .profileright {
    width: 60%;
    /* height: 30%; */
  /* } */
  */ .parentitems {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    width: 90%;
  }
  .items {
    width: 100%;
    height: 100%;
  }
  .parentoffacts {
    height: 65vh;
  }
  .childoffacts {
    height: 100%;
  }
  .countdiv {
    display: flex;
    align-items: baseline; /* Aligns items based on their baseline */
  }

  .expedudetails {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 30px;
    padding: 20px, 0;
  }
  .expedu {
    height: auto;
    gap: 60px;

    /* background-color: #fa5b0f;  */
  }
  hr {
    width: 90%;
  }
  .expleft {
    width: 100%;
    border-left: 0.1px solid gray;
    gap: 10%;
  }
  .expright {
    width: 100%;
    gap: 10%;
  }
  .expdetails h3,
  p {
    margin-bottom: 0px;
  }
  .contentprogram {
    width: 90%;
  }
  .clientscards {
    width: 90%;
  }
  .servicecardgrid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .contentlanguage {
    width: 90%;
  }
  .languageparent h2{
    width:90vw;
  }
  .servicecard {
    width: 90%;
    height: 450px;
  }
  .serviceparent {
    height: 600px;
  }
  .servicebox {
    height: 100px;
  }
  .clientsparents h2 {
    width: 90%;
  }
  .servicecard h2 {
    height: 100%;
    margin-bottom: 50px;
  }
  .priceparent {
    height: 120vh;
  }
  .pricecards {
    width: 90%;
  }
  .pricecardsbox {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 100%;
  }
  .priceparent h2 {
    width: 90%;
    height: 5%;
  }
  .teamparent h2 {
    width: 90%;
  }
  .teamchild {
    width: 90%;
  }
  .cardtestimonial {
    width: 90%;
  }
  .testimonialparent h3 {
    width: 90%;
  }
  .childoffacts h2 {
    width: 90%;
  }
  .expdetails p,
  h3 {
    margin-bottom: 0px;
  }

  .first h2 {
    height: 30px;
  }
  .first {
    display: flex;
    gap: 20px;
  }
  .footerimg {
    height: 50vh;
  }
}
@media (max-width: 600px) {
  .link {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
  .link p {
    margin-bottom: 0px;
  }
  .imgdiv {
    width: 95%;
    height: 90%;
    /* background-color: aqua; */
  }
 .profileimg {
    width: 100vw;
    height: 500px;
     background-color: aqua; 
  }
  .imgdivchild { 
    width: 90%;
    height: 90%;
    top: 10px;
    left: 10px;
  }

  .childoffacts {
    height: 90%;
    /* background-color: #1619a5;   */
  }
  .posimg {
    width: 100%;
    height: 80%;
  }
  .profiledetails {
    height: 140vh;
    width: 100vw;
    /* background-color: #0fdb2a;  */
  }
  .profilechild {
    height: 130vh;
  }
  hr {
    width: 90%;
  }
  .profileright {
    margin-top: 0px;
    width: 90vw;
    /* height: 100vh; */

    /* background-color: #918985; */
  }
  .posimgpara {
    top: 270px;
  }
  .socialicon {
    top: 230px;
  }
  .tablerow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
    height: 50vh;
    grid-gap: 0px;
    /* background-color: #550ffa; */
  }
  .col1 {
    width: 90vw;
    height: 100%;
    font-size: 16px;
    /* background-color: #18e265; */
  }
  .col2 {
    width: 90vw;
    height: 100%;
    font-size: 16px;
    /* background-color: #ce1111; */
  }
  .col1row {
    width: 100%;
  }
  .col2row {
    width: 100%;
  }
  .col2row p {
    width: 40vw;
  }
  .profileright button {
    margin-top: 20px;
    height: 10%;
  }

  .parentitems {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 90%;
  }
  .parentoffacts {
    height: 75vh;
    /* background-color: #fa5b0f; */
  }
  .expedu {
    height: 180vh;
    gap: 60px;

    /* background-color: #fa5b0f; */
  }
  .expedudetails {
    height: 160vh;
  }
  .expleft {
    gap: 40px;
  }
  .expright {
    gap: 40px;
  }
  .programparent {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
  .contentprogram {
    width: 90vw;
    height: 80vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    /* background-color: #fa5b0f;   */
  }
  .childprogramleft {
    width: 100%;
    height: 40vh;
    /* background-color: #222222; */
  }
  .childprogramright {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    /* background-color: #e91818; */
  }
  .languageparent {
    width: 100vw;
    height: 90vh;
    /* background-color: #fa5b0f; */
  }
  .contentlanguage {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  .childlanguageleft {
    width: 90vw;
    height: 50vh;
  }
  .childlanguageright {
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    /* background-color: aqua; */
  }
  .rounded-div {
    margin-right: 30px;
  }
  .servicecardgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .servicecard {
    width: 90%;
    height: 120vh;
  }
  .serviceparent {
    height: 140vh;
    gap: 0px;
  }
  .clientscards {
    height: 130vh;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
  .clientsparents {
    height: 150vh;
  }
  .clientscardbox {
    height: 17vh;
  }
  .priceparent {
    height: 180vh;
  }
  .pricecardsbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
  .teamparent {
    height: 180vh;
    /* background-color: yellow; */
  }
  .teamgrid {
    height: 160vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: black;
  }
  .testimonialparent h3 {
    display: none;
  }
  .testimonialparent {
    display: none;
  }
  .cards {
    height: 35vh;
  }

  .cardsfoot {
    width: 85%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: flex-start;
    align-items: start;
  }
  .footerimg {
    width: 100vw;
    height: 120vh;
    background-size: 100vw 120vh;
  }
  .cate {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 130px;
    /* background-color: #fa5b0f; */
  }
  .cateparent {
    width: 140px;
  }
  .cate a {
    width: 140px;
  }
  .footend {
    width: 90%;
  }
}
