* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #222222;
}
.headerimg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
}
.footerimg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
}

.io {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link a {
  text-decoration: none;
}
.link span {
  color: #fa5b0f;
}
.link {
  width: 15%;
  height: 35px;
  border-radius: 10px;
  background-color: #222222;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.headerimg img {
  width: 100%;
  height: 100%;
  color: black;
}
.ioend {
  width: 100%;
  height: 100%;
  /* height: 100%;   */
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsfoot {
  width: 80%;
  height: 75%;
  /* background-color: #fa5b0f;    */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* justify-content:flex-end; */
  align-items: end;
  border-bottom: 0.5px solid gray;
}
.cardsfootbox {
  width: 100%;
  height: 80%;
  /* background-color: antiquewhite;   */
  color: white;
  display: flex;
  font-size: 16px;
  flex-direction: column;
}
.cardsfootbox img {
  width: 50%;
  height: auto;
}
.cardsfootbox p {
  margin-top: 25px;
  width: 70%;
}
.cardsfootbox ul li {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between icon and text */
}

/* .cardsfootbox ul li {
  display: flex;
} */
.cardsfootbox ul i {
  display: inline-flex;
  height: 40px;
  align-items: center;
  color: #fa5b0f;
  gap: 10px;
}

.cardsfootbox ul i .text {
  color: white;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.cardsfootbox ul {
  list-style-type: none;
  padding: 0;
  line-height: 35px;
}
.cardsfootbox ul i {
  color: #fa5b0f;
}
.cate {
  width: 100%;
  /* height:100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua;  */
}
.cate a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-right: 15px;
  /* padding:5px; */
  background-color: rgb(49, 46, 46);
  gap: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.cate a:hover {
  color: #fa5b0f;
}
.cateparent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footend {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footend p {
  width: 100%;
  height: 100px;
  /* background-color: #fa5b0f;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentmap {
  width: 100%;
  height: 110vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.childmap {
  width: 80%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  width: 100%;
  height: 100%;
}
.parentcontact {
  width: 100%;
  height: 95vh;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  /* background-color: #fa5b0f; */
}
.childcontact {
  width: 80%;
  height: 80%;
  display: flex;
  gap: 25px;
  /* background-color:aqua ; */
}
.leftcontact {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  color: white;
}
.rightcontact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}
.mainrightcontact {
  width: 70%;
  height: auto;
  /* background-color: aliceblue; */
}
.rightcontent {
  display: flex;
  width: 100%;
  gap: 25px;
}
.content1 {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  /* background-color: #fa5b0f;    */
  background-color: #323232;
  gap: 15px;
  font-size: 16px;
}
.parentcontent {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 30px;
  justify-content: flex-start;
  /* background-color: #d40b0b; */
}
.parentbutton {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-end;
}
.contactbutton {
  background-color: #fa5b0f;
  border: none;
  color: black;
  padding: 12px 32px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 40px; */
  gap: 12px;
  /* margin-top: 20px; */
}

.lefticon {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-size: 20px;
}
.lefticon i {
  color: #fa5b0f;
}
.leftdetails {
  display: flex;
  gap: 10px;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  /* background-color: #fa5b0f; */
  gap: 10px;
  height: 35%;
}
.socialicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.socialicon i {
  border-radius: 50px;
  display: flex;
  color: #fa5b0f;
  /* background-color:black; */
}
.iconborder {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border: 0.5px solid #fa5b0f;
  /* transition: transform 0.1s, color 0.1s; */
}
.iconborder:hover {
  background-color: #fa5b0f;
}
.iconborder i {
  transition: transform 0.1s ease-in-out;
}
.iconborder:hover i {
  transform: rotateY(180deg);
  color: black;
  transition: 0.1s transform ease-in-out;
}
#rotatefull:hover i {
  transform: rotateY(360deg);
  color: black;
  transition: 0.1s transform ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aqua; */
  background-color: #323232;
  gap: 15px;
}
.styled-input {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  /* background-color: #79665e; */
  background-color: #323232;
}
.no-border {
  border: none;
  outline: none;
  width: 95%;
  height: 100%;
  background-color: #323232;

  /* background-color: aliceblue; */
}
.content i {
  color: #e6dddd;
}
.content1 i {
  display: flex;
  /* background-color: #fa5b0f;  */
  justify-content: flex-start;
  align-items: flex-start;
  height: 20px;
  color: #e6dddd;
}
.lefticon p {
  font-size: 16px;
  font: normal;
}
.contactbutton:hover {
  background-color: gray;
  color: white;
}
@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .link {
    width: 25%;
  }
  .parentmap {
    height: 70vh;
  }
  .childmap {
    width: 90%;
    height: 70%;
  }
  .parentcontact{
    height:120vh;
  }
  .childcontact {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  .mainrightcontact {
    width: 100%;
    height: 100%;
  }
  /* .parentcontent{
    height:35vh;
  } */
  .social {
    display: flex;
    width: 35%;
    justify-content: center;
  }
 
  .social p {
    width: 100%;
  }

  .parentbutton {
    height: 25%;
  }
}

@media (max-width: 600px) {
  .cardsfoot {

    width: 85%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: flex-start;
    align-items: start;
  }

  .footerimg {
    height: 120vh;
    background-size: 100vw 120vh;
  }
  .cate {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: #fa5b0f; */
  }
  .parentcontact{
    height:130vh;
     }
  .childcontact{
    height:110vh;
  }
  .cateparent {
    width: 140px;
  }
  .cate a {
    width: 140px;
  }
  .link {
    width: 200px;
  }
  .lefticon {
    width: 90vw;
  }
  .social p {
    width: 95vw;
  }
  .rightcontent {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .rightcontent {
    height: 200px;
  }
  .headerimg {
    height: 100vh;
  }
  .contactbutton {
    width: 60vw;
    background-color: #fa5b0f;
  }
  .footend{
    width:90%;
  }
}
