* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #222222;
}
.headerimg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 500px;
  color: white;
}
.footerimg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
}

.io {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link a {
  text-decoration: none;
}
.link span {
  color: #fa5b0f;
}
.link {
  width: 15%;
  height: 35px;
  border-radius: 10px;
  background-color: #222222;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.headerimg img {
  width: 100%;
  height: 100%;
  color: black;
}
.ioend {
  width: 100%;
  height: 100%;
  /* height: 100%;   */
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsfoot {
  width: 80%;
  height: 75%;
  /* background-color: #fa5b0f;    */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* justify-content:flex-end; */
  align-items: end;
  border-bottom: 0.5px solid gray;
}
.cardsfootbox {
  width: 100%;
  height: 80%;
  /* background-color: antiquewhite;   */
  color: white;
  display: flex;
  font-size: 16px;
  flex-direction: column;
}
.cardsfootbox img {
  width: 50%;
  height: auto;
}
.cardsfootbox p {
  margin-top: 25px;
  width: 70%;
}
.cardsfootbox ul i {
  display: inline-flex;
  height: 40px;
  align-items: center;
  color: #fa5b0f;
  gap: 10px;
}
.cardsfootbox ul i .text {
  color: white;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.cardsfootbox ul {
  list-style-type: none;
  padding: 0;
  line-height: 35px;
}
.cardsfootbox ul li {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between icon and text */
}

.cardsfootbox ul i {
  color: #fa5b0f;
}
.cate {
  width: 100%;
  /* height:100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua;  */
}
.cate a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-right: 15px;
  /* padding:5px; */
  background-color: rgb(49, 46, 46);
  gap: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.cate a:hover {
  color: #fa5b0f;
}
.cateparent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footend {
  width: 100%;
  /* height:50px;  */
  height: 10%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background-color: aqua;       */
}
.footend p {
  width: 100%;
  height: 100px;
  /* background-color: #fa5b0f;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.parentpost {
  width: 100%;
  height: auto;
  /* background-color: #fa5b0f; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.childpost {
  width: 50%;
  height: 80%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}
.latestpost {
  width: 100%;
  /* background-color: rgb(20, 97, 165); */
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
}

.rowcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
}
.iconname {
  display: flex;
  gap: 10px;
}
.iconname i {
  color: #fa5b0f;
}
.latestpost h1 {
  width: 100%;
  height: auto;
  /* background-color: azure; */
}
.latestpost p {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-left: 0px;
  line-height: 25px;
  background-color: #222222;
}
.latestpost button {
  width: 25%;
  height: 50px;
  background-color: #fa5b0f;
  border-radius: 30px;
  border: none;
}
.latestpost button:hover {
  background-color: gray;
  color: white;
}

.imgcontent {
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  transition: transform 0.3s linear;
}
.imgcontent:hover .img {
  transform: scale(1.2);
}

.postdiv {
  width: 100%;
  height: 100%;
  /* background-color: #fa5b0f; */
}
@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .link {
    width: 25%;
  }
  .childpost {
    width: 73%;
  }
}
@media (max-width: 600px) {
   .headerimg {
    height: 600px;
    background-size: 100vw 600px;
  } 

  .link {
    width: 75%;
  }
  .cardsfoot {
    width: 85%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: flex-start;
    align-items: start;
  }
  .footerimg {
    height: 120vh;
    background-size: 100vw 120vh;
    /* background-color: aqua; */
  }
  .cate {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: #fa5b0f; */
  }
  .cateparent {
    width: 140px;
  }
  .cate a {
    width: 140px;
  }
  .imgcontent {
    display: flex;
    justify-content: center;
    height: 40vh;
  }
  .rowcontent {
    display: grid;
    /* padding:5px; */
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    height: 120px;
  }
  .imgcontent{
    height:45vh;
  }
  .latestpost button {
    width: 120px;
    height: 50px;
    /* background-color: aqua; */
  }
  .latestpost p {
    /* background-color: aliceblue; */
  }
  .latestpost h1 {
    width: 90vw;
    /* height: 40%; */
    background-color: #fa5b0f;
    font-size: 20px;
  }
  .parentpost {
    height: auto;
    padding: 50px 0px;
  }

  .childpost {
    width: 95%;
  }
  .footend{
    width:90%;
  }
}
