* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #1a1b18;
  color: white;
  font-family: "roboto, Sans-serif";
  font-size: 16px;
  font-weight: 400;
}
.menuicon {
  width: 60px;
  height: 60px;
  position: fixed;
  border-radius: 50px;
  background-color: #494848;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  left: 30px;
}
.fa-bars {
  font-size: 24px;
}

.fa-xmark {
  font-size: 24px;
}
.menuitems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 10%;
}
.mainmenu {
  width: 5%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  /* justify-content:center;
    align-items: center; */
  background-color: #222222;
  border-radius: 50px;
  padding: 10px 0;
  gap: 40px;
  border-right: 1 solid #fa5b0f;
  position: fixed;
  top: -100%;
  left: -100%;
}
.mainmenusmall {
  /* left: -100%; */
  display: none;
  z-index: 10;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width:auto;  */
  position: relative;
  text-decoration: none;
  color: white;
  /* background-color: blue; */
}
.row1 i {
  color: #fa5b0f;
}
.rowclose {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.textcontent {
  width: 130%;
  position: absolute;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  right: -110px;
}

.row:hover {
  color: #fa5b0f;
  border-right: 2px solid #fa5b0f;
  .textcontent {
    transform: translate(5px, 0px);
  }
}
.rowlast:hover {
  border-right: none;
}

.menuitemsclick {
  top: 70px;
  left: 30px;
}
.menu {
  width: 100%;
  height: 10%;
  display: flex;
  /* background-color: white; */
  color: black;
  align-items: center;
  justify-content: center;
}
.mainmenusmall {
  display: none; /* Hidden by default */
}

.list {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.list a {
  text-decoration: none;
  color: white;
}

.typingparent {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  width: auto;
}
.typingparent .text {
  position: relative;
  color: #fa5b0f;
  font-size: 35px;
  font-weight: 600;
}
.typingparent .first-text {
  color: white;
}

.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-left: 2px solid blue;  */
  background-color: #1a1b18;
  overflow: hidden;
  animation: animate 2s steps(20) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.profileimg {
  border-radius: 50%;
  border: 10px solid #494848;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
  height: 50%;
  object-fit: cover;
}
.profilecontent {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aliceblue;  */
}
.leftcontent {
  width: 50%;
  /* height: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua;  */
  padding-left: 60px;
}
.rightcontent {
  width: 65%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 30px;
}
.p1 {
  margin-bottom: 15px;
  margin-top: 30px;
}
.content h1 {
  margin-bottom: 30px;
}
.contentpara {
  width: 80%;
  line-height: 30px;
}
.profilebutton {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}
.btn {
  background-color: #fa5b0f;
  border: none;
  color: black;
  padding: 12px 32px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 170%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-110%) skewx(-45deg);
  transition: 0.4s;
}

.btn:hover::before {
  transform: translateX(-10%) skewX(-45deg);
  color: white;
}

.btn2 {
  background-color: black;

  border: 1px solid #fa5b0f;
  color: #fa5b0f;
  padding: 12px 38px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.btn2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 170%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-110%) skewx(-45deg);
  transition: 0.4s;
}

.btn2:hover::before {
  transform: translateX(-10%) skewX(-45deg);
  color: white;
}

.btn i {
  margin-right: 8px; /* You can adjust this value as needed */
}
.btn2 i {
  margin-right: 12px; /* You can adjust this value as needed */
}

.btn2:hover {
  background-color: #fa5b0f;
  color: white;
}
.splitup {
  color: #fa5b0f;
}

@media (max-width: 1200px) {
  /* .profilecontent {
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: column;
  }
  .leftcontent {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
  }
  .rightcontent {
    width: 90%;
    height: 20%;
  }
  .rightcontent p {
    width: 100%;
    font-size: 16px;
  }
  .rightcontent h1 {
    font-size: 64px;
  }
  .profileimg {
    width: 500px;
    height: 500px;
  } */
}
@media (max-width: 600px) {
  .profilecontent {
    display: flex;
    width: 100%;
    height: 95%;
    flex-direction: column;
    position: relative;
    z-index: 1;
    /* background-color: #74a01e; */
  }

  .sec-text {
    /* width: auto; */
  }
  .leftcontent {
    width: 100%;
    height: 50%;
    /* background-color: #fa5b0f; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
  }
  .profileimg {
    width: 350px;
    height: 350px;
  }
  .rightcontent {
    width: 90%;
    height: 60%;
    /* background-color: #fa5b0f; */
  }

  .rightcontent p {
    width: 100%;
    font-size: 20px;
  }
  .rightcontent h1 {
    font-size: 48px;
  }
  .profilebutton {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .list {
    width: 70%;
  }
  .menuicon {
    top: 2%;
    left: 2%;
    position: relative;
  }

  .typingparent .text {
    font-size: 15px;
  }

  .mainmenusmall.show {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: absolute;
  }

  .fa-xmark {
    display: flex;
    justify-content: start;
    align-items: start;
    color: grey;
  }
  .iconrow {
    display: flex;
    width: 100vw;
    padding: 10px;
    position: relative;
    gap: 120px;
  }
  .iconrow .fa-xmark {
    color: white;
  }

  .rowsmall {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80%;
    background-color: #222222;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    font-size: 24px;
  }
  .rowlast {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80%;
    background-color: #222222;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    font-size: 24px;
  }
  .rowsmall i {
    color: #fa5b0f;
  }
  .gridsmall {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 20%);
  }
  .hide-profilecontent {
    display: none;
  }

  .mainmenu {
    display: none; /* Hide the main menu on small screens */
  }
}
